ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  display: flex;
  height: 480px;
  justify-content: center;
  position: relative;
  width: 90%;
}

.carousel {
  display: flex;
  max-width: 86.5%;
  overflow: hidden;
  padding: 20px 0;
}

.button {
  background: none;
  border: none;
  left: 0;
  outline: none;
  position: absolute;
  top: 40%;
}

.right-button {
  left: 97%;
}

.fa-angle-right,
.fa-angle-left {
  color: #af000e;
  font-size: 50px;
  transition: .2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.4);
  }
}
