@font-face {
    font-family: 'buffiedregular';
    src: url(buffied/BUFFIED_.TTF);
    font-weight: normal;
    font-style: normal;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'buffiedregular';
  font-size: 80px;
}





