li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  color: white;
  display:flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-end;
  letter-spacing: 1px;
  list-style-type: none;
  margin: 0 3px;
  text-align: center;
  transition: all .2s ease-in-out;
  width: 180px;
}

li:hover {
  transform: scale(1.1);
}

.fa-plus {
  color: black;
  font-size: 20px;
  margin: 20px 0 10px 0; 
  opacity: 1;
  transition: .3s;
}

.fa-plus:hover {
  font-size: 30px;
}

