ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  position: relative;
  width:90%;
  height: 480px;
  display:flex;
  justify-content: center;

}

.carousel {
  max-width:86.5%;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
}

.button {
  background: none;
  border: none;
  position: absolute;
  z-index: 50;
  top: 40%;
  left: 0;
}

.fa-angle-left, .fa-angle-right {
  color: #af000e;
  font-size: 50px;
  transition: .2s;
 /* opacity: .6;*/
}

.fa-angle-left:hover, .fa-angle-right:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.right-button {
  left: 97%;
}


