ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel-wrapper {
  display: flex;
  height: 480px;
  justify-content: center;
  position: relative;
  width: 90%;
}

.carousel {
  display: flex;
  max-width: 86.5%;
  overflow: hidden;
  padding: 20px 0;
}

.button {
  background: none;
  border: none;
  left: 0;
  position: absolute;
  top: 40%;
  z-index: 50;
}

.fa-angle-left, 
.fa-angle-right {
  color: #af000e;
  font-size: 50px;
  transition: .2s;
}

.fa-angle-left:hover, 
.fa-angle-right:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.right-button {
  left: 97%;
}


