.watchlist-wrapper {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
}

.watchlist {
  display: flex;
  width: 86.5%;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.button {
  top: 51%;
}